.user-checkbox .v-input__control .v-input__slot {
  border: 0!important;
  min-width: 12em;
  margin-bottom: 0!important;
}

.user-checkbox {
  margin-top: 8px!important;
}

.user-option .v-input__control .v-input__slot .v-select__slot .v-select__selections input {
  max-height: none!important;
}