.user-checkbox .v-input__control .v-input__slot {
  border: 0!important;
  min-width: 12em;
  margin-bottom: 0!important;
}

.user-checkbox {
  margin-top: -5px!important;
}

.user-option .v-input__control .v-input__slot .v-select__slot .v-select__selections input {
  max-height: none!important;
}

.announce-text-field {
  height: 35px
}

.wd-view-130 {
  width: 130px!important;
}
.wd-view-155 {
  width: 155px!important;
}

.announce-message {
  white-space: nowrap; 
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis; 
}


.content-editor .ql-container .ql-editor {
  overflow-y: auto;
  height: 50vh!important;
  min-height: 0!important;
}