@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import "~vue-awesome-notifications/dist/styles/style.scss";

:root {
  --blue: #7c94de;
  --lightGray: #7c7a7a;
}

/*
* GLOBAL CSS
*/
* {
  font-family: 'Montserrat' !important;
}

p {
  margin-bottom: 0px !important;
}

button {
  box-shadow: none !important;
}

.v-text-field__details {
  padding:  0px !important;
}

.v-input {
  font-size: 14px !important;
}

.v-input__control {
  min-height: 42px !important;
}

.left-sidebar .v-navigation-drawer__content{
  &::-webkit-scrollbar {
    width: 2px;
    direction: rtl;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #cad6fa;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c8cad1;
  }
}

/*
* LOGIN FORM CSS
*/

.login-form {
  .theme--light.v-text-field > .v-input__control > .v-input__slot:before  {
    border: none !important;
  }

  .right-background {
    .footer {
      display: block;
      position: absolute;
      box-sizing: border-box;
      height: 833px;
      background-color: #7c94de;
      z-index: 99;
      bottom: 0;
      -webkit-clip-path: ellipse(78% 100% at 22% 100%);
      clip-path: ellipse(150% 100% at -50% 100%);
      width: 70%;
    }
    .header-log {
      display: block;
      position: absolute;
      box-sizing: border-box;
      height: 1200px;
      background-color: #9aaadb;
      bottom: 0;
      -webkit-clip-path: ellipse(78% 100% at 22% 100%);
      clip-path: ellipse(150% 100% at -50% 100%);
      width: 70%;
    }
  }

  .right-background {
    background-size: cover;
    background-position: -25px;
  }

  .v-btn {
    height: 45px !important;
  }

  .sm7{
    height: 100%;
  }

  .login-content {
    background-color: white !important;
    padding: 10rem 10rem 0rem 10rem;
  }

  .login-content h1 {
    margin-bottom: 3rem;
  }

  .subtitle-1 {
    margin-bottom: 2rem! important;
    font-size: 20px !important;
  }
 
}

/*
* PROFILE CSS
*/
.profile-logo {
  height: 200px;
  background-size: contain;
  width: 100%;
  color: white;
}

.profile-content {
  text-align: center;
  width: 72%;
  height: 200 px;
  padding: 1.5rem 0rem;

  p {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
  }

  small {
    position: relative;
    top: -10px;
    letter-spacing: 2px;
  }

  .v-app-bar__nav-icon {
    position: absolute;
    top: 25px; 
    right: 1rem;
    color: white;

    .v-icon {
      font-size: 2.5rem !important;
      color: white !important;
    }
  }
}

.profile-content img {
  border-radius: 50%;
  width: 55%;
  border: dashed;
}
/*
* FORMS
*/
.form-title {
  box-shadow: 0 4px 2px -2px #f3f3f3;
}

.form-box {
  .form-content {
    max-height: 82vh;
    overflow-y: auto;
    padding: 0px 10rem;
  }

  .subtitle-2 {
    text-transform: capitalize !important;
  }
  
  .profile-box {
    text-align: center;
  }

  .v-text-field {
    border-radius: 2px !important;
  }
  
  .v-input__slot {
    box-shadow: none !important;
    border: 1px solid #d7d2d2;
  }

  .v-label {
    font-size: 14px;
    font-weight: 300;
  }

  .form-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    padding:1rem;
    border-top: 1px solid #f6f6f6;
  }

  .profile-image {
    text-align: center;
  }
}

/*
* LEFT SIDEBAR
*/
.left-sidebar {
  box-shadow: 12px 0 15px -4px #efeff1, -12px 0 8px -4px #ffffff !important;
  .v-icon {
    color: var(--blue) !important;
  }

  .main-menu.active {
    background-color: #f9f9f9 !important;
  }
  .subactive {
    background-color: #5975cb !important;
  }

  .v-list-item__action {
    margin-right: 10px !important;
  }

  .main-menu.v-list-item {
    padding: 0 30px!important;
    min-height: 52px !important;
  }

  .main-menu.v-list-item--active {
    border-left: 8px solid var(--blue)  !important;
    padding-left: 20px !important;

    .v-list-item__title {
      color: black !important;
    }
  }

  .v-list-item__title {
    color: var(--lightGray) !important;
  }

  .v-list-group--active {
    .v-list-group__items {
      background-color: var(--blue) !important;
      padding: 0.2rem 0rem !important;
      .v-list-item {
        padding-left: 66px !important;
      }

      .v-list-item {
        min-height: 40px !important;
      }
    }

    .v-list-group__items .v-list-item__title {
      color: white !important;
      font-size: 14px !important;
    }
  }

  .v-list-group__header {
    padding: 0 26px !important;
  }

  .v-list-group__header__prepend-icon {
    margin-right: 10px !important;
  }

  .v-list-group__header__append-icon {
    margin-left: 0px !important;
  }

  .v-main__wrap {
    display: flex !important;
  }
}

.left-sidebar.sub-side {
  float: left !important;
  margin-right: 20px ;

  .v-list-item__icon {
    margin-right: 22px !important;
  }

  .count-records {
    font-size: 0.8rem;
    padding: 3px 6px;
    min-width: 24px;
    background-color: var(--blue);
    color: white;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center
  }
}
/*
* OVERRWRITE CSS
*/
.left-sidebar.v-navigation-drawer {
  width: 230px !important;
}

.v-sheet.v-app-bar {
  box-shadow:  none !important;
}

.v-navigation-drawer__border {
  display: none !important;
}

// .v-app-bar--fixed {
//   left: 230px !important;
// }

// .v-main {
//   padding: 64px 0px 0px 231px !important;
// }